$blue-one-light: rgb(147, 147, 180);
$blue-one-dark: rgb(114, 114, 178);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  height: auto;
  min-height: 100%;
  text-size-adjust: 100%;
  min-width: 375px;
}

.layout {
  padding: 0 12px;

  @media (min-width: 960px) {
    padding: 0 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-1 {
  background-color: $blue-one-light;
  padding: 7px 12px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $blue-one-dark;
  }
}

/*
HIDES NUMBER SCROLL ON INPUT type='number'
https://www.w3docs.com/snippets/css/how-to-hide-the-html5-number-inputs-arrow-buttons.html#:~:text=If%20you%20want%20to%20hide,to%20hide%20the%20arrow%20buttons.
*/
.input_hide_number_scroll_arrows {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}